
@{
    ViewData["Title"] = "Negocio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Datos del Negocio</h6>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtNumeroDocumento">Numero Documento</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtNumeroDocumento" name="Numero Documento">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtCorreo">Razon Social</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtRazonSocial" name="Razon Social">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtCorreo">Correo</label>
                                    <input type="email" class="form-control form-control-sm input-validar" id="txtCorreo" name="Correo">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtDireccion">Direccion</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtDireccion" name="Direccion">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txTelefono">Telefono</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txTelefono" name="Telefono">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtImpuesto">% Impuesto</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtImpuesto" name="Impuesto">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtSimboloMoneda">Simbolo Moneda</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtSimboloMoneda" name="Simbolo Moneda">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtLogo">Logo</label>
                                    <input class="form-control-file" type="file" id="txtLogo" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img id="imgLogo" style="max-width:200px;" src="https://images.unsplash.com/photo-1640271443625-3276ed8f62b5?w=300" class="rounded" alt="Logo">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-success btn-sm" type="button" id="btnGuardarCambios">Guardar Cambios</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
