
@{
    ViewData["Title"] = "RestablecerClave";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restablecer Clave</title>
</head>
<body style="background-color:#EDF6FF">
    <br />
    <br />
    <div style="width:400px;border-radius:5px; margin:auto;background-color:#fff;box-shadow:0px 0px 10px  #DEDEDE;padding:20px">
        <table style="width:100%">
            <tr>
                <td align="center" colspan="2">
                    <h2 style="color:#004DAF">Constraseña Restablecida</h2>
                </td>
            </tr>
            <tr>
                <td align="left" colspan="2">
                    <p>Su contraseña fue restablecida:</p>
                </td>
            </tr>
            <tr>
                <td><h4 style="color:#004DAF;margin:2px">Nueva Contraseña:</h4></td>
                <td>@ViewData["Clave"]</td>
            </tr>
        </table>
        <div style="background-color:#FFE1CE;padding:15px;margin-top:15px;margin-bottom:15px">
            <p style="margin:0px;color: #F45E00;">Le recomendamos cambiar la contraseña una vez inicie sesión.</p>
        </div>
    </div>
    <br />
    <br />
</body>
</html>


